/*
* variables ↓
*/

$conteinerWidth: 1410px;

//=====================================================

$pc: $conteinerWidth;
$tablet: 992px; // Tablets, some smartphones in landscape position
$mobile: 767px; //Smartphones L
$mobileSmall: 480px; // Smartphones S
$fontFamily: 'Lato', sans-serif;

/*
* import of .scss styles ↓
*/

@import "zeroing.scss";
@import "_header";
@import "_content";
@import "_footer";


/*
* import of fonts ↓
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
//TODO     font-family: 'Lato', sans-serif;

/*
* styles ↓
*/

body{
   font-family: $fontFamily;
}

.wrapper{
   display: flex;
   flex-direction: column;
   width: 100%;
   min-height: 100%;
   overflow: hidden; 
   position: relative;
}

.conteiner{
   width: 100%;
   max-width: $conteinerWidth;
   min-width: 320px;
   padding: 0 35px;
   margin: 0 auto;

}

.content{
   flex: 1 1 auto;
}

//